.pac_el {
	background-color: #eaeaea;
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0.5px;
}

body {
	margin: 0px;
	background-color: #FAFAFA;
}

#content {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background-color: #DFDFDF;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 0 3px -1px;
}

#content1 {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	background-color: #DFDFDF;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 0 3px -1px;
}

#menu {
	background-color: gray;
	padding: 3px;
	position: fixed;
	width: 100%;
	top: 0 ;
	display: flex;
	justify-content: space-around;
	height: 40px;
	align-items: center;
}

#menu div {
	display: flex;
	height: 30px;
	align-items: center;
}

.fromtable {
	display: flex;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	font-family: arial, sans-serif;
	border-collapse: collapse;
}

td, th {
	border: 1px solid #4a4a4a;
	text-align: left;
	padding: 8px;
}

table input {
	width: 80%;
}
